/** Stylesheet for index.html **/
/* Normalize */
body{margin:0px;font-family:tahoma;font-size:12px;}
h1{color:#555;}
.wrap{margin:15px;}
.rt-resizable-header{font-weight:bold;}
.rt-resizable-header:nth-child(1),.rt-td:nth-child(1){width:20px !important;}
.rt-td:nth-child(1){text-align:center;}
